body {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: white;
}
h1 {
    font-weight: 900;
    color: black;
    font-variant: small-caps;
}
div {
    color: black;
    font-size: 12px;
}
input {
    font-size: 14px;
    /*font-weight: 100;*/
    background-color: white;
    border: none;
    /*display: block;*/
}
.chart {
    margin-top: 50px;
    margin-bottom: 100px;
    line-height: 14px;
}
.chart-row {
    margin-top: -50px;
}
.year{
    margin-right: 5px;
}
.box {
    width: 10px;
    height: 10px;
    margin: .1px;
    background-color: rgba(0,127,182,.4);
    display: inline-block;
    border-radius: 5px;
}
.reserved {
    height: 10px;
}
.done {
    background-color: rgba(80,100,200,.5);
    border: none;
}
.info-box {
    margin-top: -50px;
    position: fixed;
    right: 20px;
    width: 280px;
}
h3 {
    font-weight: 300;
    font-size: 16px;
    text-align: left;
}
.info-box p {
    text-align: left;
    font-weight: 300;
    line-height: normal;
}
.years-col div {
    margin-top: -1px;
    margin-bottom: 1px;
    font-weight: 100;
    /*margin-right: -50px;*/
}
#birthday-submit {
    font-size: 12px;
    margin: 20px 0;
}
#group-table {
    margin-top: -50px;
    font-size: 16px;
}
#group-table div span {
    padding: 0 5px;
    cursor: pointer;
}
#people-col div span {
    padding: 0 5px;
    cursor: pointer;
}
#people-all {
    padding: 0 5px;
    cursor: pointer;
}
.selected {
    background-color: lightcoral;
}
.educational {
    background-color: blue;
}
.personal {
    background-color: darkolivegreen;
}
.career {
    background-color: purple;
}
.setback {
    background-color: #E31402;
}
.current {
    background-color: teal;
}
.eol {
    background-color: black;
}
#ach-key {
    /*cursor: default;*/
}
.ach-type {
    cursor: default;
}